			------
            ${id}
            ------
            ${author}
            ------
            ${since}


${id} / ${name} 

  (Autor: ${author}, Version: ${version}, Last Update: ${since})

* Description
  
  ${documentation} 
