			------
            ${id}
            ------
            ${author}
            ------
            ${since}

${id} / ${name} 

  (Autor: ${author}, Version: ${version}, Last Update: ${since})

* Description
  
  ${abstract}
  
* Use Case Definition
  
~~{table}
*-------------------------------+--------------------------------+
 <<ID>>   						| ${id}        
*-------------------------------+--------------------------------+
 <<Name>> 						| ${name}
*-------------------------------+--------------------------------+
 <<Goal>> 						| ${goal}
*-------------------------------+--------------------------------+
 <<Actor/s>> 					| ${actors}
*-------------------------------+--------------------------------+
 <<Status>> 					| ${status}
*-------------------------------+--------------------------------+
 <<Precondition/s>>				| ${preconditions}
*-------------------------------+--------------------------------+
 <<Postcondition/s>>			| ${postconditions}
*-------------------------------+--------------------------------+
 <<Trigger>> 					| ${trigger}
*-------------------------------+--------------------------------+
 <<Normal Flow>>		 		| ${normalFlow}
*-------------------------------+--------------------------------+
 <<Alternative Flow>>			| ${alternativeFlow}
*-------------------------------+--------------------------------+
 <<Comments>>		 			| ${useCaseComment}
*-------------------------------+--------------------------------+
 <<History>>			 		| ${useCaseHistory}
*-------------------------------+--------------------------------+
~~{/table}

